.footer-logo {
  text-align: center;
  font-family: "Rubik Maps", system-ui;
  font-weight: 400;
  font-style: normal;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
